/.env
/.env.*
!/.env.example
/vendor/
/node_modules/
/public/build/
/bootstrap/cache/*.php
/storage/app/private/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/.phpunit.cache/
/.phpunit.result.cache
/coverage/
/playwright-report/
/test-results/
/.cache/
/.DS_Store
/.scratch/
*.log
